body {
    margin: auto;
    padding: auto;
  }

  p {
    font-size: 18px;
  }

  .error-page {
    text-align: center;
    background-color: #001F5B;
    padding: 5% 0 5% 0;
    color: white;
    box-shadow: 0px 4px 17px rgba(0,0,0,0.6);
  }

  .material-icons {
    font-size: 200px !important;
    -webkit-transition: 1s ease-out;
    -moz-transition:  1s ease-out;
    transition:  1s ease-out;

  }

  .material-icons:hover{
    -webkit-transform: rotateZ(360deg) ;
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }

  .btn-large {
    margin: 5% 42% 5% 42%;
    width: 300px;
    background-color: #17B8B8;
  }
